glyphsLib
kurbopy
fontMake
git+git://github.com/simoncozens/fez.git#egg=fez-language
git+git://github.com/simoncozens/fontfeatures.git#egg=fontfeatures
youseedee
bidict
tqdm
fontbakery
font-v
collidoscope>=0.2.0
gftools
